﻿@{
    ViewData["Title"] = "Home Page";
}


@model MVC_API1_Frontend.Models.Student;

<div>
    <label>First Name &nbsp; : </label> &nbsp;
    @Html.DisplayFor(Model => Model.FirstName)
</div>

<div>
    <label>Last Name &nbsp; : </label> &nbsp;
    @Html.DisplayFor(Model => Model.LastName)
</div>

<div>
    <label>Email &nbsp; : </label> &nbsp;
    @Html.DisplayFor(Model => Model.Email)
</div>

<div>
    <label>State &nbsp; : </label> &nbsp;
    @Html.DisplayFor(Model => Model.State)
</div>

<div>
    <label>Address &nbsp; : </label> &nbsp;
    @Html.DisplayFor(Model => Model.Address)
</div>
