﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model MVC_API1_Frontend.Models.Student;

<h1 class="text-center text-success" >Registration form</h1> <br/> <br/>


<div class="row">
    <div class="col-lg-6 mx-auto" >
        <div class="card" >
            <div class="card-body">


                @using (Html.BeginForm("HandleStudent", "Home", FormMethod.Post))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First Name</label> <br />
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last Name</label> <br />
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label> <br />
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="State" class="control-label">State</label> <br />
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Address</label> <br />
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="text-center" >
                        <button type="submit" class="btn btn-success btn-block" >Submit</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>




@*
<div class="row">
    <div class="col-lg-6 mx-auto">
        <h1 class="text-center text-info mb-4">Registration form</h1>
        <div class="card">
            <div class="card-body">

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>


                    <div class="form-group">
                        <label asp-for="Student.firstName">First Name</label>
                        <input asp-for="Student.firstName" class="form-control" name="firstName">
                        <span asp-validation-for="Student.firstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Student.middleName">Middle Name</label>
                        <input asp-for="Student.middleName" class="form-control" maxlength="25">
                        <span asp-validation-for="Student.middleName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Student.lastName">Last Name</label> <br />
                        <input asp-for="Student.lastName" class="form-control" maxlength="50">
                        <span asp-validation-for="Student.lastName" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Student.email">Email address</label>
                        <input asp-for="Student.email" class="form-control">
                        <span asp-validation-for="Student.email" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Student.password">Password</label>
                        <input asp-for="Student.password" class="form-control">
                        <span asp-validation-for="Student.password" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Student.confirmPassword">Confirm Password</label>
                        <input asp-for="Student.confirmPassword" class="form-control">
                        <span asp-validation-for="Student.confirmPassword" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Student.mobile">Mobile Number</label>
                        <input asp-for="Student.mobile" class="form-control" maxlength="10">
                        <span asp-validation-for="Student.mobile" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Student.state">State</label>
                        <input asp-for="Student.state" class="form-control" maxlength="100">
                        <span asp-validation-for="Student.state" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="Student.city">City</label>
                        <input asp-for="Student.city" class="form-control" maxlength="10">
                        <span asp-validation-for="Student.city" class="text-danger"></span>

                    </div>

                    <div>
                        <label>Gender</label> <br />
                        <input type="radio" id="male" name="gender" value="male">
                        <label>Male</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label>Female</label><br>
                        <input type="radio" id="other" name="gender" value="other">
                        <label>Other</label> <br /> <br />
                    </div>

                    <div class="form-group">
                        <label asp-for="Student.higherEducation">Higher Education</label> <br />
                        <select class="form-control" asp-for="Student.higherEducation">
                            <option value="none">Select</option>
                            <option>High School</option>
                            <option>Intermediate</option>
                            <option>Graduate</option>
                            <option>Post Graduate</option>
                            <option>Doctarate</option>
                            <option>Post Docs</option>
                        </select>
                        <span asp-validation-for="Student.higherEducation" class="text-danger"></span>

                    </div>

                    <input type="radio">
                    <label>Subscribe for email</label> <br /> <br />

                    <div class="form-group">
                        <label asp-for="Student.address">Address</label> <br />
                        <textarea asp-for="Student.address" class="form-control" rows="10" cols="40"></textarea> <br /> <br />
                        <span asp-validation-for="Student.address" class="text-danger"></span>

                    </div>

                    <div class="text-center">
                        <button class="btn-success p-1" type="submit" onclick="handleSubmit()">Submit</button> &nbsp;
                        <button class="btn-danger p-1" type="reset">Reset</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
    *@